<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <queries>

        <!-- Permetti di cercare app che gestiscono l'invio di SMS -->
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:mimeType="vnd.android-dir/mms-sms" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SENDTO" />

            <data android:scheme="smsto" />
        </intent>
    </queries> <!-- Permesso per inviare SMS direttamente (PERICOLOSO) -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Application1" >
        <activity
            android:name=".CameraActivity"
            android:exported="false" />
        <activity
            android:name=".TaskActionActivity"
            android:exported="false" />
        <activity
            android:name=".NavigationExercisesActivity"
            android:exported="false" />
        <activity
            android:name=".LoggedActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".FirestoreQuotesActivity"
            android:exported="false" />
        <activity
            android:name=".ToDoActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrationProActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <!--Activity della chat-->
        <activity android:name=".UsersListActivity" android:exported="false"/>
        <activity
            android:name=".ChatActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity android:name=".MasterDetailActivity" android:exported="false"/>
        <activity
            android:name=".TabActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".DetailActivity"
            android:exported="false" />
        <activity android:name=".InternalStorageActivity" android:exported="false"/>
        <activity android:name=".ExternalStorageActivity" android:exported="false"/>
        <activity android:name=".FirestorePeopleActivity" android:exported="false"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="tel" />
            </intent-filter>
            <!-- FILTRO PER GLI SMS -->
            <!-- l' app apparirà nella lista quando qualcuno prova a mandare un SMS -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
            </intent-filter>
        </activity> <!-- Sec0nda pagina dell'app -->
        <activity android:name=".ShoppingListActivity" android:exported="false"/>
        <activity
            android:name=".PositiveActivity"
            android:exported="true"
            android:label="Schermata Positiva"
            android:parentActivityName=".MainActivity" > <!-- Necessario settato a true se usiamo i filtri -->
            <!-- Nuovo filtro -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <!-- Azione inventata -->
                <action android:name="com.example.application1.LAUNCH" />
                <!-- Dico al sistema: sono un app di default e posso essere aperta dal browser -->
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- accetto link che iniziano solo con: -->
                <data android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ComposePlaygroundActivity"
            android:exported="false"
            android:label="Laboratorio Compose"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <receiver android:name=".AlarmReceiver" android:exported="false" />
    </application>

</manifest>